<h1 class="uppercase white text-center">About This App</h1>
<p class="white text-center"> A Ruby on Rails application I built to keep organized as well as learn the processes behind building a To Do application.</p>
