<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <div class="jumbotron text-center">
        <h1><i class="fa fa-spinner"></i>You Can Do It!</h1>
        <p class="small">This is my To Do List Application</p>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-md btn-block" %>
      </div>
    </div>
  </div>
</div>
