.navbar-default {
	font-family: 'Rock Salt', cursive;
}

h1 {
  font-family: 'Rock Salt', cursive;
}

body {
	background: image-url("typewriter.jpeg") no-repeat center center fixed;
	font-family:'Pathway Gothic One', sans-serif;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.uppercase {
	text-transform: uppercase;
}

.white {
	color: white;
}

#task_content {
	margin-bottom: 10px;
}
