//
//
.navbar-default {
  // background-color: #86BBD8;
	font-family: 'Rock Salt', cursive;
}
//
// .navbar-brand {
//   color: white;
//   font-size: 24px;
// }
//
h1 {
  font-family: 'Rock Salt', cursive;
}
// a {
//   color:#B08EA2;
//   text-decoration: none;
// }
//
// .jumbotron {
//   border: 2px solid #86BBD8;
// }

body {
	background: image-url("typewriter.jpeg") no-repeat center center fixed;
	font-family:'Pathway Gothic One', sans-serif;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.uppercase {
	text-transform: uppercase;
}

.white {
	color: white;
}

#task_content {
	margin-bottom: 10px;
}
